<html>
   <head>
      <title>Django Blog test</title>
   </head>
   <body>
      <div>
         <h1><a href="">Django Blog Test</a></h1>
      </div>
      <div>
         <p>published: 2023.05.17</p>
         <h2><a href="">mobile. WebService Programming</a></h2>
         <p>my first django blog testing</p>
      </div>
      <div>
         <p>published: 2023.05.17</p>
         <h2><a href="https://www.naver.com/">naver link</a></h2>
         <p>naver website</p>
      </div>
   </body>
</html>
